<%-# _comment is a view a 'partial', refactored code from show.html.erb-%>
<p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
</p>
<p>
    <strong>Comment:</strong>
    <%= comment.body %>
</p>