
<%= react_component("ArticleNavBar") %>

<div class="container">
    <% @articles.each do |article| %>
        <tr>
            <%= react_component("ArticleCard", title: article.title , body: article.text, id: article.id, picture: url_for(article.picture)) %>
            <br/>
            <br/>
        </tr>
    <% end %>
</div>

<%= react_component("ArticleToolBar", home: true) %>