<!DOCTYPE html>
<head>
<link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
<style>
header {
    font-family: 'Audiowide';font-size: 22px;
}
</style>
</head>
<html>
  <nav>
    <br/>
    <br/>
    <br/>
    <%= react_component("ArticleNavBar") %>
  </nav>

<header>
  <div class="parallax">
    <br/>
    <h1 class="TitleHeader">Software Engineer && Creator</h1>
    <div align="center">
      <%= image_tag "profile.jpg" , :class => "profile" %>
    </div>  
  </div>
</header>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  <body>
    <div align="center">
        <% @articles.each do |article| %>
            <div id='ArticleCardDiv'>
                <%= react_component("ArticleCard", title: article.title , body: article.cardText, id: article.id, picture: url_for(article.picture)) %>
                <br/>
                <br/>
            </div>
        <% end %>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <%= react_component("ArticleToolBar", home: true) %>
  </body>
</html>



