// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-image: image-url('background.gif');
    background-size: contain;
    background-attachment: fixed;
    color: #c5c2c2;
    font-size: 14px;
    line-height: 1.42857;
    background-position-y: 10px;
}
#ArticleCardDiv{
    width:300px;
    height:300px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
}