// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-image: image-url('background.gif');
    background-size: contain;
    background-attachment: fixed;
    color: #c5c2c2;
    font-size: 14px;
    line-height: 1.42857;
    background-position-y: 10px;
}
#ArticleCardDiv{
    width:300px;
    height:300px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
}
.parallax { 
    /* The image used */
    background-image: image-url("parallax_pic.jpg");
  
    /* Set a specific height */
    height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .TitleHeader {
      color: white;
      text-shadow: 3px 2px teal;
      text-align: center;
      font-family: 'Audiowide', cursive;
  }
  .profile { 
    height: 300px; 
    width: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 200px;
    border-style: double; 
    border-width: 10px;
    border-color: white;
  }
  
  .aboutPage_header {
    color: white;
    font-size: 50px;
    text-shadow: 3px 2px teal;
    text-align: center;
    font-family: 'Audiowide', cursive;
}
.aboutPage_body {
    color: white;
    font-size: 30px;
    text-shadow: 3px 2px green;
    text-align: center;
    font-family: 'Audiowide', cursive;
}